/* You can add global styles to this file, and also import other style files */
a.xng-breadcrumb-link {
    color: grey;
}

a.xng-breadcrumb-link:hover {
    text-decoration: none;
}

li.xng-breadcrumb-separator {
    color: grey;
}

label.xng-breadcrumb-trail {
    color: orange;
}